.page {
  display: flex;
  flex: 1;
}
.sidebar {
  width: 250px;
  padding: 20px;
  background-color: gray;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.secondMenu {
  padding-left: 20px;
}
