<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alisa.mapper.ChannelUserMapper">
  <resultMap id="BaseResultMap" type="com.alisa.model.ChannelUser">
    <id column="channel_user_id" jdbcType="CHAR" property="channelUserId" />
    <result column="channel_id" jdbcType="CHAR" property="channelId" />
    <result column="community_user_id" jdbcType="CHAR" property="communityUserId" />
  </resultMap>
  <resultMap id="ExBaseResultMap" type="com.alisa.vo.ChannelUserVo">
    <id column="channel_user_id" jdbcType="CHAR" property="id" />
    <result column="channel_id" jdbcType="CHAR" property="channelId" />
    <result column="community_role_id" jdbcType="CHAR" property="roleId" />
    <result column="user_name" jdbcType="CHAR" property="name" />
    <result column="user_email" jdbcType="CHAR" property="email" />
    <result column="community_role_name" jdbcType="CHAR" property="role" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    channel_user_id, channel_id, community_user_id
  </sql>
  <select id="selectByExample" parameterType="com.alisa.dto.ChannelUserFilter" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_channel_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_channel_user
    where channel_user_id = #{channelUserId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_channel_user
    where channel_user_id = #{channelUserId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.alisa.dto.ChannelUserFilter">
    delete from tb_channel_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alisa.model.ChannelUser">
    insert into tb_channel_user (channel_user_id, channel_id, community_user_id
      )
    values (#{channelUserId,jdbcType=CHAR}, #{channelId,jdbcType=CHAR}, #{communityUserId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.alisa.model.ChannelUser">
    insert into tb_channel_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelUserId != null">
        channel_user_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="communityUserId != null">
        community_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelUserId != null">
        #{channelUserId,jdbcType=CHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=CHAR},
      </if>
      <if test="communityUserId != null">
        #{communityUserId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alisa.dto.ChannelUserFilter" resultType="java.lang.Long">
    select count(*) from tb_channel_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_channel_user
    <set>
      <if test="row.channelUserId != null">
        channel_user_id = #{row.channelUserId,jdbcType=CHAR},
      </if>
      <if test="row.channelId != null">
        channel_id = #{row.channelId,jdbcType=CHAR},
      </if>
      <if test="row.communityUserId != null">
        community_user_id = #{row.communityUserId,jdbcType=CHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_channel_user
    set channel_user_id = #{row.channelUserId,jdbcType=CHAR},
      channel_id = #{row.channelId,jdbcType=CHAR},
      community_user_id = #{row.communityUserId,jdbcType=CHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alisa.model.ChannelUser">
    update tb_channel_user
    <set>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=CHAR},
      </if>
      <if test="communityUserId != null">
        community_user_id = #{communityUserId,jdbcType=CHAR},
      </if>
    </set>
    where channel_user_id = #{channelUserId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alisa.model.ChannelUser">
    update tb_channel_user
    set channel_id = #{channelId,jdbcType=CHAR},
      community_user_id = #{communityUserId,jdbcType=CHAR}
    where channel_user_id = #{channelUserId,jdbcType=CHAR}
  </update>
  <insert id="batchUpsert" parameterType="java.util.List">
    insert into tb_channel_user (channel_user_id, channel_id, community_user_id) values 
    <foreach collection="list" item="item" separator=",">
      (#{item.channelUserId,jdbcType=CHAR}, #{item.channelId,jdbcType=CHAR}, #{item.communityUserId,jdbcType=CHAR})
    </foreach>
    on duplicate key update channel_id = values(channel_id), community_user_id = values(community_user_id)
  </insert>
  <insert id="upsert" parameterType="com.alisa.model.ChannelUser">
    insert into tb_channel_user (channel_user_id, channel_id, community_user_id) values 
    (#{channelUserId,jdbcType=CHAR}, #{channelId,jdbcType=CHAR}, #{communityUserId,jdbcType=CHAR})
    on duplicate key update channel_id = values(channel_id), community_user_id = values(community_user_id)
  </insert>
  <delete id="batchDelete" parameterType="java.util.List">
    delete from tb_channel_user where channel_user_id in 
    <foreach close=")" collection="list" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <select id="selectByChannelId" resultMap="ExBaseResultMap">
  SELECT 
	  TCU.channel_user_id,
    TCU.channel_id ,
    CU.community_id, 
    CU.community_user_id , 
    U.user_name,    
    U.user_email,   
    CU.community_role_id,
    CR.community_role_name 
FROM 
    db_community.tb_community_user AS CU
inner join
    db_community.tb_community_role as CR on CU.community_role_id = CR.community_role_id  
inner join 
	db_community.tb_channel_user as TCU on CU.community_user_id = TCU.community_user_id 
INNER JOIN 
    db_user.tb_user AS U ON CU.user_id = U.user_id
WHERE 
    TCU.channel_id  = #{channelId};
  </select>
</mapper>