/* 基础输入框样式 */
.input {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  box-sizing: border-box;
}

/* 默认状态悬浮效果 */
.input:not(.outline):hover {
  border-color: #999;
}

/* 聚焦状态 */
.input:focus {
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
  border-color: var(--primary-color);
}

/* 禁用状态 */
.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #eee !important;
}

/* 轮廓变体特殊样式 */
.outline {
  padding: calc(0.75rem - 1px) calc(1rem - 1px); /* 补偿边框宽度 */
}

.outline:focus {
  box-shadow: none;
  border-width: 2px;
}

/* 填充变体特殊样式 */
.filled:hover {
  background-color: #eee !important;
}
